In [1]:
from bs4 import BeautifulSoup
import requests
from pandas.io.html import read_html
import pandas as pd
from matplotlib import pyplot as plt 
import pandas as pd
from geopy.geocoders import Nominatim # module to convert an address into latitude and longitude values

In [13]:
address = 'Ards and North Down, UK'

geolocator = Nominatim(user_agent="foursquare_agent")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print(latitude, longitude)

54.59363175 -5.7100216794049

In [18]:
file=open(r'C:\Users\zoharko\Documents\Python Scripts\Data Scientist Course\Capstone Project Notebook\UK_Prices.csv')
df=pd.read_csv(file)
df

            Date                RegionName   AreaCode  AveragePrice
0     01/01/2018             Aberdeenshire  S12000034   191808.8987
1     01/02/2018             Aberdeenshire  S12000034   191803.0667
2     01/03/2018             Aberdeenshire  S12000034   191213.1247
3     01/04/2018             Aberdeenshire  S12000034   188293.4953
4     01/05/2018             Aberdeenshire  S12000034   188197.5303
5     01/06/2018             Aberdeenshire  S12000034   189715.1689
6     01/07/2018             Aberdeenshire  S12000034   188835.0863
7     01/01/2018                      Adur  E07000223   315482.5635
8     01/02/2018                      Adur  E07000223   314897.1757
9     01/03/2018                      Adur  E07000223   314333.2474
10    01/04/2018                      Adur  E07000223   309854.2994
11    01/05/2018                      Adur  E07000223   312405.8443
12    01/06/2018                      Adur  E07000223   311515.7901
13    01/07/2018                      Adur  E07000223   317622.0952
14    01/01/2018                 Allerdale  E07000026   148880.5104
15    01/02/2018                 Allerdale  E07000026   146994.6652
16    01/03/2018                 Allerdale  E07000026   148925.4648
17    01/04/2018                 Allerdale  E07000026   150069.5398
18    01/05/2018                 Allerdale  E07000026   152150.6042
19    01/06/2018                 Allerdale  E07000026   150546.8107
20    01/07/2018                 Allerdale  E07000026   158678.0946
21    01/01/2018              Amber Valley  E07000032   168287.6198
22    01/02/2018              Amber Valley  E07000032   165277.1161
23    01/03/2018              Amber Valley  E07000032   165841.0044
24    01/04/2018              Amber Valley  E07000032   167262.5040
25    01/05/2018              Amber Valley  E07000032   168767.9182
26    01/06/2018              Amber Valley  E07000032   168928.7906
27    01/07/2018              Amber Valley  E07000032   172653.3138
28    01/01/2018                     Angus  S12000041   142920.1382
29    01/02/2018                     Angus  S12000041   144827.1212
...          ...                       ...        ...           ...
3057  01/06/2018                   Wycombe  E07000007   388230.2452
3058  01/07/2018                   Wycombe  E07000007   395597.2549
3059  01/01/2018                      Wyre  E07000128   152916.0103
3060  01/02/2018                      Wyre  E07000128   151665.1306
3061  01/03/2018                      Wyre  E07000128   151534.4936
3062  01/04/2018                      Wyre  E07000128   151891.4749
3063  01/05/2018                      Wyre  E07000128   149604.7409
3064  01/06/2018                      Wyre  E07000128   151214.5444
3065  01/07/2018                      Wyre  E07000128   153448.2661
3066  01/01/2018               Wyre Forest  E07000239   182707.1604
3067  01/02/2018               Wyre Forest  E07000239   182439.8321
3068  01/03/2018               Wyre Forest  E07000239   179023.9630
3069  01/04/2018               Wyre Forest  E07000239   179008.9388
3070  01/05/2018               Wyre Forest  E07000239   183477.6171
3071  01/06/2018               Wyre Forest  E07000239   186547.9665
3072  01/07/2018               Wyre Forest  E07000239   192938.6938
3073  01/01/2018                      York  E06000014   241600.4444
3074  01/02/2018                      York  E06000014   240676.1825
3075  01/03/2018                      York  E06000014   241304.6011
3076  01/04/2018                      York  E06000014   242842.9903
3077  01/05/2018                      York  E06000014   245417.8868
3078  01/06/2018                      York  E06000014   247776.3501
3079  01/07/2018                      York  E06000014   249086.0889
3080  01/01/2018  Yorkshire and The Humber  E12000003   156055.9067
3081  01/02/2018  Yorkshire and The Humber  E12000003   156022.5305
3082  01/03/2018  Yorkshire and The Humber  E12000003   157120.8853
3083  01/04/2018  Yorkshire and The Humber  E12000003   157630.5130
3084  01/05/2018  Yorkshire and The Humber  E12000003   159702.3049
3085  01/06/2018  Yorkshire and The Humber  E12000003   161121.0355
3086  01/07/2018  Yorkshire and The Humber  E12000003   161711.7298

[3087 rows x 4 columns]